<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Analista funcional Blog</title>
  <link rel="stylesheet" href="/css/w3css.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="/css/show.css"/>
</head>
<body>
	<div class="w3-bar w3-indigo">
		<a href='/' class="w3-bar-item w3-hover-yellow no-underline">Inicio</a>
		<a href='/contact' class="w3-bar-item w3-hover-yellow no-underline">Contacto</a>
		<a href='/autor' class="w3-bar-item w3-hover-yellow no-underline">¿Quién soy?</a>
		</div>
	<div class="containter">
		