
<div class="margin-top">
<div class="w3-card w3-indigo w3-row">
	<div class="w3-col s4">
		<img src="/images/eze.jpg" alt="ezequiel buceta profile" class="profile-img w3-hover-grayscale">
	</div>
	<div class="w3-col s8 min-height-200">
		<div class="v-center3">
		<h4><b>Lic. Ezequiel Buceta, Universidad CAECE, Argentina</b></h4>
		<h5>¡Analista funcional desde 2013!</h5>
		<h6>Contáctame en <a target="_blank" style="color:yellow;" href="https://www.linkedin.com/in/ezequiel-buceta-5a9aa436/"><b>Linkedin!</b></a></h6>
	</div>
	</div>
</div>
</div>